absl-py==1.4.0
astor==0.8.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
importlib-metadata==6.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
llvmlite==0.39.1
Markdown==3.4.1
MarkupSafe==2.1.2
numba==0.56.4
numpy==1.18.5
opencv-python==4.6.0.66
opt-einsum==3.3.0
Pillow==9.4.0
protobuf==3.20.0
python-speech-features==0.6
resampy==0.2.2
scipy==1.5.4
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==2.2.0
torch==1.7.1
torchvision==0.8.2
typing-extensions==4.5.0
Werkzeug==2.2.3
wrapt==1.15.0
zipp==3.15.0
